{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cesiumjs.org/releases/1.55/Build/Cesium/Widgets/widgets.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'website/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/styles.css' %}">

    <link rel="icon" href="{% static 'website/img/favicon.ico' %}">
    <title>SatEye</title>
</head>


<body>
    <div class="container-fluid">
        <div class="row">
            {% include "website/navbar.html" %}
        </div>
        <div class="row">
            <div id="alerts-bar"></div>
            <div class="col tab-content">
                {% include 'website/map.html' %}
            </div>
        </div>
    </div>

    {% include 'website/satellites_modal.html' %}
    {% include 'website/locations_modal.html' %}
    {% include 'website/settings_modal.html' %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.0/handlebars.min.js" crossorigin="anonymous"></script>
    <script src="http://cesiumjs.org/releases/1.55/Build/Cesium/Cesium.js" crossorigin="anonymous"></script>

    {% include "website/client/alert.html" %}
    {% include "website/client/satellite.html" %}
    {% include "website/client/passes.html" %}

    <script src="{% static 'website/js/core.js' %}"></script>
    <script src="{% static 'website/js/map.js' %}"></script>
    <script src="{% static 'website/js/satellites.js' %}"></script>
    <script src="{% static 'website/js/locations.js' %}"></script>
    <script src="{% static 'website/js/passes.js' %}"></script>
    <script src="{% static 'website/js/dashboards.js' %}"></script>

    <script src="{% static 'website/js/home.js' %}"></script>
</body>
</html>
