{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.8.7/brython.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.8.7/brython_stdlib.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" crossorigin="anonymous">
    {% if settings.USE_CESIUM_LIB_CDN %}
        <link rel="stylesheet" href="https://cesiumjs.org/releases/1.60/Build/Cesium/Widgets/widgets.css">
    {% else %}
        <link rel="stylesheet" href="{% static 'website/Cesium/Widgets/widgets.css' %}">
    {% endif %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'website/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/styles.css' %}">

    <link rel="icon" href="{% static 'website/img/favicon.ico' %}">
    <title>SatEye</title>
</head>


<body onload="brython({pythonpath: ['{% static 'website/py' %}']})">
    {% include "website/navbar.html" %}
    {% include "website/map.html" %}

    {% include 'website/satellites_modal.html' %}
    {% include 'website/locations_modal.html' %}
    {% include 'website/settings_modal.html' %}
    {% include 'website/passes_modal.html' %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.min.js" crossorigin="anonymous"></script>
    {% if settings.USE_CESIUM_LIB_CDN %}
        <script src="https://cesiumjs.org/releases/1.60/Build/Cesium/Cesium.js"></script>
    {% else %}
        <script src="{% static 'website/Cesium/Cesium.js' %}"></script>
    {% endif %}

    {% include "website/client/satellite.html" %}
    {% include "website/client/passes.html" %}

        <script>
            window.fisa = {}
        </script>

    <script type="text/python">
        from sateye_client.core import App
        app = App()
        {% if dashboard_id %}
        app.set_current_dashboard({{dashboard_id}})
        {% endif %}
    </script>
</body>
</html>
