<div id="main-map"></div>
<div id="map-controls" class="bg-dark p-2">
    <div class="btn-group" role="group">
        <input id="map-date-picker" name="map-date-picker" type="datetime-local" step="1">
		<button id="go-to-date" type="button" class="btn btn-sm btn-secondary mr-5">Go</button>
    </div>
    <input id="night-shadow-input"
     type="checkbox" data-toggle="toggle" 
     data-on="Day/Night" data-onstyle="secondary" 
     data-off="No shadow" data-offstyle="outline-secondary"
     data-style="roundy" data-size="sm">
    <input id="paths-visible-input"
     type="checkbox" data-toggle="toggle" 
     data-on="Paths on" data-onstyle="secondary" 
     data-off="Paths off" data-offstyle="outline-secondary"
     data-style="roundy" data-size="sm" checked>
    <input id="sensors-visible-input"
     type="checkbox" data-toggle="toggle" 
     data-on="Visibility on" data-onstyle="secondary" 
     data-off="Visibility off" data-offstyle="outline-secondary"
     data-style="roundy" data-size="sm" checked>
</div>
