{% load static %}

<nav class="navbar navbar-dark navbar-expand-md bg-dark col-sm-12 p-0">
    <a class="navbar-brand col-2" href="#">
        <img src="{% static 'website/img/logo_big.png' %}" width="30" height="30" />
        SatEye
    </a>
    <div class="collapse navbar-collapse col-10">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#satellites-modal" href="#satellites-modal">
                    <i class="fas fa-satellite fa-fw"></i>
                    Satellites
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#locations-modal" href="#locations-modal">
                    <i class="fas fa-map-marker-alt fa-fw"></i>
                    Locations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#settings-modal" href="#settings-modal">
                    <i class="fas fa-cog fa-fw"></i>
                    Settings
                </a>
            </li>
        </ul>
    </div>
</nav>
