{% load static %}

<nav class="navbar navbar-dark navbar-expand-md bg-dark col-sm-12 p-0">
    <a class="navbar-brand col-sm-1" href="#">
        <img src="{% static 'website/img/logo_big.png' %}" width="30" height="30" />
        SatEye
    </a>
    <div class="collapse navbar-collapse col-sm-11">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#tab-map" role="tab">
                    <i class="fas fa-globe fa-fw"></i>
                    Map
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#tab-satellites" role="tab">
                    <i class="fas fa-satellite fa-fw"></i>
                    Satellites
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#tab-locations" role="tab">
                    <i class="fas fa-map-marker-alt fa-fw"></i>
                    Locations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#tab-settings" role="tab">
                    <i class="fas fa-cog fa-fw"></i>
                    Settings
                </a>
            </li>
        </ul>
    </div>
</nav>
