<div id="satellites-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#existing-satellites-form">
                        <i class="fas fa-plus"></i>
                        Add from existing satellites
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#create-satellite-form">
                        <i class="fas fa-plus"></i>
                        Create private satellite
                    </button>
                </div>
            </div>

            <div class="modal-body">
                <div id="existing-satellites-form" class="collapse">
                    <div class="card">
                        <div class="card-title">
                            <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#existing-satellites-form">
                                <i class="fas fa-times"></i>
                            </button>
                            Add known satellites
                        </div>

                        <div class="card-body">
                            <input id="filter-satellites-input" class="form-control mb-1" type="text" placeholder="Filter...">
                            <ul id="existing-satellites-list" class="list-group rounded border border-secondary"></ul>  
                        </div>
                    </div>
                </div>

                <div id="create-satellite-form" class="collapse">
                    <p>Create private satellite:</p>
                </div>

                <div id="satellites-list" class="p-2"></div>
            </div>
        </div>
    </div>
</div>
