<nav id="side-menu" class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#tab-map" role="tab">
                    <i class="fas fa-globe fa-fw"></i>
                    Map
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#tab-satellites" role="tab">
                    <i class="fas fa-rocket fa-fw"></i>
                    Satellites
                    <span class="badge badge-secondary">4</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#tab-locations" role="tab">
                    <i class="fas fa-map-marker-alt fa-fw"></i>
                    Ground Locations
                    <span class="badge badge-secondary">2</span>
                </a>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#tab-settings" role="tab">
                    <i class="fas fa-cog fa-fw"></i>
                    Settings
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Recent</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <i class="fas fa-user"></i>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-binoculars fa-fw"></i>
                    Passes for XXXX over YYYYY on 2018/02/01 ...
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-binoculars fa-fw"></i>
                    Passes for XXXX over YYYYY from 2018/02/01 ...
                </a>
            </li>
        </ul>
    </div>
</nav>
