#main-navbar {
    z-index: 100 !important;
}

#main-map {
    width: 100%;
    position: absolute;
    top: 54px;
    bottom: 48px;
}

#map-controls {
    width: 100%;
    position: absolute;
    height: 48px;
    bottom: 0px;
}

#existing-satellites-list {
    overflow-y: scroll;
    max-height: 200px;
}

.toggle.roundy, .toggle-on.roundy, .toggle-off.roundy { 
    border-radius: 4px; 
}
.toggle.roundy .toggle-handle { 
    border-radius: 4px; 
}
